body{
    margin: 0;
    box-sizing: border-box;
    display: flex
}

div.col{
    width: 16.59vw;
    height: 100vh;
    border-left: 1px solid
}

div.col div{
    width: 100%;
}

div.col div.dos{
    
}